<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body id="bodyIndex">
    <img src="../img/textura.jpg" alt="" class="fundo">
    <div id="faixa"></div>
    <section id="sectionIndex">

        <h1>Bem vindo(a), escolha uma calculadora</h1>
        <div>
        <a href="imc.html"><button type="button" id="IMCbtn">Índice de Massa Corporal</button></a>
        <a href="tmb.html" ><button type="button" id="TMBbtn">Taxa Metabólica Basal</button></a>
        </div>
    </section>
</body>
</html>